<footer>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center"> </p>
        </div>
        <div class="col-md-12">
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-0 col-xs-12">
                        <div>
<a href="https://www.iiit.ac.in">International Institute of Information Technology </a>
<br>
<a href="https://cvit.iiit.ac.in">Center for Visual Information Technology</a>
<br>
<!--    <a href="https://biology.mit.edu/">Department of Computer Science</a>-->
</div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div>
<a href="https://kcis.iiit.ac.in">Kohli Center on Intelligent Systems</a>
<br>
<a href="https://cvit.iiit.ac.in/icvgip18/">ICVGIP 2018 - IIIT Hyderabad</a>    <br>
</div>
                    </div>
                    <div class="col-md-12">
                        <div><br></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>