<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARL Lab Website</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
    <link rel="stylesheet" href="/assets/css/carousel.css">
    <link rel="stylesheet" href="/assets/css/fun-carousel.css">
    <link rel="stylesheet" href="/assets/css/Horvitz-header.css">
    <link rel="stylesheet" href="/assets/css/person.css">
</head>


    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h1>ARL - IIITH</h1></div>
            <div class="col-md-8 col-xs-12 hidden-xs">
                <blockquote>
                  <p>Education is the manifestation of perfection already existing in man.&nbsp; </p>
                    <footer>Swami Vivekananda </footer>
                </blockquote>
            </div>
        </div>